{#include AdminResource/base}
{#title}Extensions{/title}
{#body}
<div class="ui main container">
  {#for extension in extensions}
  <table class="ui celled striped table">
    <thead>
    <tr>
      <th class="fourteen wide">{extension.name} - {extension.groupId}:{extension.artifactId}</th>
    </tr>
    </thead>
    <tbody>
    {#for release in extension.releases}
    <tr>
      <td><strong>{release.version}</strong></td>
    </tr>
    {/for}
    </tbody>
  </table>
  {/for}
</div>
{/body}
{/include}
