{#include AdminResource/base}
{#title}Platforms{/title}
{#body}
  <div class="ui main container">
    {#for platform in platforms}
    <table class="ui celled striped table">
      <thead>
      <tr>
        <th class="fourteen wide">{platform.groupId}:{platform.artifactId}</th>
      </tr>
      </thead>
      <tbody>
      {#for release in platform.releases}
        <tr>
          <td><strong>{release.version}</strong></td>
        </tr>
      {/for}
      </tbody>
    </table>
    {/for}
  </div>
{/body}
{/include}
